@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
/* 
*/

/* Reuseables */
:root {
    --h1-font: 'Neucha', cursive;
    --site-color: rgb(255, 255, 255);
    --h1-color: rgb(46, 45, 53);
}

.oneWide {
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30%;
}

/* Style Guide */
/* Formatting for semantic elements - removing browser differences */
body {
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

/* Font Styling */
h1 {
    font-family: var(--h1-font);
    font-size:60px;
    color:var(--h1-color);
    margin:0;
}

p   {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    font-size:22px;
}

.clickthrough h2:hover {
    background:white;
    border:2px solid rgb(46, 45, 53);
    color:rgb(46, 45, 53);
    cursor:pointer;
}

/* Scrollbar formatting */



/* Main site style - mobile default */
#landingPage {
    background-color:var(--site-color);
}

.imageOriginSet {
    height:326px;
    width:326px;
    position:relative;
    left:-300px;
}

.overlay {
    position:absolute;
}

#name {
    text-align: center;
    width:400px;
    opacity:0;
}

.imageOriginSet img {
    width:326px;
    opacity:0;
}

.clickthrough {
    margin:0 auto;
    font-family: var(--h1-font);
    text-align: center;
    width:50%;
    opacity:0;
}

.clickthrough h2 {
    background:rgb(46, 45, 53);
    color:white;
    padding:15px;
    border:2px solid rgb(46, 45, 53);
}

@keyframes images {
    0% {
        transform: scale(1, 1);
        opacity:0;
    }
    50% {

    }
    100% {

    }

}