.fa-icon {
    width: auto;
    height: 6vw; 
    max-width: 100%;
    max-height: 100%;
  }

html {
    scroll-behavior:smooth;
}

body {
    background-image: url('../imgs/portfolio-stack-mobile.png');
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    min-height:100vh;
    min-width:100%;
    margin:0;
    overflow-x:hidden;
    padding: 0px 0px 0 0;
}

.hero {
    width:85vw;
    margin:20px auto;
    padding:50px;
    background:rgba(255,255,255,.98);
    box-shadow: 1px 1px 4px black;
    max-width:1400px;
}

hr {
    margin: 20px 0;
}

.reveal {
    opacity:0;
}

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}



.ifDesktop {
    display:none;
}

.ifMobile {
    display:block;
}