.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: .3s;
}
.page-enter {
  transform: translate(-150%, 0);
  opacity:1;
}

.page-leave-to{
  transform: translate(150%, 0);
  opacity:0;
}

.growAppear-enter-active, .growAppear-leave-active {
  transition: all .5s;
}
.growAppear-enter {
  transform: translate(0, -100%) scale(.5, 0);
  opacity:0;
}

.growAppear-leave-to{
  transform: translate(0%, -100%) scale(.5, 0);
  opacity:0
}