@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

html {
    scroll-behavior:smooth;
}

body {
    background-image: url('../imgs/portfolio-stack-mobile.png');
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    min-height:100vh;
    margin:0;
    padding: 0px 0px 0 0;
}

.hero {
    padding:10px;
    width:85vw;
    margin:20px auto;
    text-align:center;
    background:rgba(255,255,255,.98);
    box-shadow: 1px 1px 4px black;
    max-width:1450px;
  }

hr {
    margin: 20px 0;
}

/* Reuseable Variables*/
:root {
    --h1-font: 'Neucha', cursive;
    --h1-color: rgb(46, 45, 53);    
    --site-color: rgb(255, 255, 255);
    --plain-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.toasted {
    font-family: var(--plain-font);
    font-size:3vw;
}

.reveal {
    opacity:0;
}

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}

/* Global Style for each "Page" to take up the full screen */
.heroWrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:100vw;
    max-width:100%;
    overflow-x: hidden;
}

.heroWrapper:not(last-of-type) {
    margin-bottom:50px;
}

.flexRow {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flexRowCenter {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexRowEnd {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.flexRowWrap {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.flexRowCustom {
    display:flex;
    flex-direction: row;
}

.flexColumn {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.flexCenter {
    display:flex;
    align-items: center;
    justify-content: center;
}

/* width */
::-webkit-scrollbar {
    width: 18px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* Style Guide */
/* Formatting for semantic elements - removing browser differences */

/* Font Styling */
h1 {
    font-family: var(--h1-font);
    color:var(--h1-color);
    margin:10px;
}

h2, h3, h4 {
    font-family: var(--plain-font);
    color:var(--h1-color);
    margin:0;
}

p   {
    font-family: var(--plain-font);
    margin:10px;
    font-weight:100;
}

ul {
    font-family: var(--plain-font);
    margin:10px 0;
    padding:0 20px;
    font-size:1em;
    text-indent: 10px;
}

li{
    font-family: var(--plain-font);
}

.ifDesktop {
    display:none;
}

.ifMobile {
    display:block;
}

/* Mobile Portait */
@media (min-width: 500px) {
    .ifDesktop {
        display:none;
    }
    
    .ifMobile {
        display:block;
    }
}


/* Tablet and Up */
@media (min-width: 768px) {
    .toasted.outline {
        font-family: var(--plain-font);
        font-size:5vw;
    }
    .ifDesktop {
        display:none;
    }
    
    .ifMobile {
        display:block;
    }
}

@media (min-width: 1024px) {
    body {
        background-image: url('../imgs/portfolio-stack.png');
        background-position: center;
        background-size: cover;
        background-attachment:fixed;
        background-repeat: no-repeat;
        min-height:100vh;
        margin:0;
        padding: 0px 0 0px 0;
    }

    .ifDesktop {
        display:block;
    }
    
    .ifMobile {
        display:none;
    }
}
